<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <h3>{{title}}</h3>
    <h6 *ngIf="isLoggedIn" ><span>Welcome, {{ company }}</span></h6>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="/" >Home</a>
      <a *ngIf="isLoggedIn" class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="/create">New Job</a>
      <a *ngIf="!isLoggedIn" class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="/login">Login</a>
      <a *ngIf="!isLoggedIn" class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="/register">Register</a>
      <a *ngIf="isLoggedIn" class="me-3 py-2 link-body-emphasis text-decoration-none" href="#" (click)="logout()">Logout</a>
    </nav>
  </div>
</header>
